backend:
  - name: "backend1"
    key: "<YOUR API KEY HERE1>"
    models:
      - "gemini-3.1-pro"
      - "gemini-3.1-flash"
      - "gemini-3.1-flash-lite"
  - name: "backend2"
    key: "<YOUR API KEY HERE2>"
    models:
      - "gemini-3.1-flash"
      - "gemini-3.1-flash-lite"

config:
    port: 8080
    proxy:
      path1:
      - "backend1.gemini-3.1-pro"
      - "backend1.gemini-3.1-flash"
      - "backend1.gemini-3.1-flash-lite"
      path2:
      - "backend1.gemini-3.1-flash"
      - "backend2.gemini-3.1-flash"
